@import 'scss/config';
@import 'scss/utilities';
@import 'scss/media-query';

// navbar

.brand {
  font-size: 3rem;
  margin-right: 0;
  width: 80px;
  height: auto;
  @include md {
    font-size: 2rem;
    width: 80px;
    height: auto;
  }
  @include sm {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  @include xs {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  span {
    color: $dark-color;
  }
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;

  &:hover {
    border-color: $medium-color;
  }

  &.current {
    border-color: $main-color;
  }
}

// How can we help
