// Variables
$website-width: 1280px;
$primary-color: #292082;
$secondary-color: #7660e1;
$main-color: #0080fe;
$light-color: #f4f4f4;
$medium-color: #7198f5;
$dark-color: #10106d;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
